.slide-submit{
	background:#f3f5f6;
	color:#929292;
	box-shadow:0 0 0 1px #ccc;
	border-radius:30px;
	text-align:right;
	padding:1em 1em;
	font-size:.75em;
	position:relative;
	overflow:hidden;
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	transition:.2s
}

.slide-submit-text{
	display:inline-block
}

.slide-submit-thumb{
	position:absolute;
	top:0; 
	left:0px;
	width:140px;
	height:100%;
	/*background:linear-gradient(to top, #273085, #CBD0D4);*/
	background-color: #273085; 
	box-shadow:inset 0 0 0 3px #f3f5f6,inset 0 0 0 4px rgba(0,0,0,0.17);
	text-shadow:0 -1px #828282;
	border-radius:30px;
	box-sizing:border-box;
	text-align:center;
	font-size:20px;
	line-height:35px;
	font-family:serif;color:#fff
}

.slide-submit-thumb:hover,.draggable{
	background:#273085;
	cursor:-webkit-grab;
	cursor:grab
}

.slide-submit-thumb:active{
	background:#273085;
	cursor:-webkit-grabbing;
	cursor:grabbing
}

.slide-success{
	background:#273085;
	text-align:left;
	color:#fff;
	box-shadow:0 0 0 1px #157ABB
}

.slide-success .slide-submit-thumb{
	background:#8e8e8e;
	box-shadow:inset 0 0 0 3px #8e8e8e,
	inset 0 0 0 4px rgba(0,0,0,0.17);
	color:#FFFFFF;
	pointer-events:none
}
/*# sourceMappingURL=slide-to-submit.css.map */
